{% extends 'base.html.twig' %}
	{% block title %}
	{% if manga is not null %}
		MangaAddict - {{ manga.name }}
	{% else %}
		MangaAddict - Manga not found 
	{% endif %}
	{% endblock %}
{%block body %}
<section class="manga">
{% if manga is not null %}
	<div class="manga__header">
			<img class="manga__image" src="{{ manga.imageUrl }}" alt="Couverture de {{ manga.name }}">
			<div class="manga__details">
				<div class="manga__title">
					<h1>{{ manga.name }}</h1>
				</div>
				<div class="manga__info">
				<div class="manga__authors">
					<span>Auteur-Autrice :</span>
					<ul class="manga__author-list">
						{% for author in manga.mangaAuthors %}
							{% if author.role == 'story' %}
							<li class="manga__author manga__author--story">Scénario: {{ author.author.name }}</li>
							{% endif %}
							{% if author.role == 'art' %}
							<li class="manga__author manga__author--art">Art: {{ author.author.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="manga__type">
					<span>Type : {{ manga.type }}</span>
				</div>
				<div class="manga__publication-date">
					<span>Date de publication : {{ manga.startDate }}</span>
				</div>
				<div class="manga__status">
					<span>Statut : {{ manga.status }}</span>
				</div>
				<div class="manga__volume-number">
					<span>Nombre de volumes : {{ manga.volumesNumber }}</span>
				</div>
				<div class="manga__genres">
					<span>Genres :</span>
					<ul class="manga__genre-list">
						{% for genre in manga.genres %}
							<li class="manga__genre">{{ genre }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="manga__description">
					<p>{{ manga.description }}</p>
				</div>
			</div>
		</div>
	</div>
<section class="rating">
	{% if app.user %}
		<form class="rating__form" action="{{ path('app_manga_display', { id: manga.id }) }}" method="POST">
		<div class="rating__user">
			{{ form_row(ratingForm._token) }}
			<div class="rating__stars">
				{% for i in 5..1 %}
					<input class="rating__star--{{ i }}" type="radio" name="{{ ratingForm.note.vars.full_name }}" value="{{ i }}"
						{% if currentRating is not null and currentRating == i %} checked {% endif %} required id="star{{ i }}"/>
					<label for="star{{ i }}" title="{{ i }} star{{ i > 1 ? 's' : '' }}">★</label>
           		 {% endfor %}
			</div>
			<button class="rating__button" type="submit">Laisser une note</button>
			</div>
		</form>
</section>
<section class="review">
	<form class="review__form" action="{{ path('app_manga_display', { id: manga.id }) }}" method="POST">
		<div class="review__user">
			{{ form_row(reviewForm._token) }}
			{% if currentReview is not null %}
				<label for="review">Ma critique: </label>
				<p class="review__content "id="review">{{ currentReview.content }}</p>
				<span class="review__date">Date de création: </span><p>{{ currentReview.createdAt|date('Y-m-d H:i:s') }}</p>
				<span class="review__date">Dernière mise à jour: </span><p>{{ currentReview.updatedAt|date('Y-m-d H:i:s') }}</p>
			{% else %}
				<label for="review">Ma critique: </label>
				<textarea class="review__content" id="review" type="input" name="{{ reviewForm.content.vars.full_name }}" rows="4" cols="50" placeholder="J'écris ma critique..." required ></textarea>
				<button class="review__button" type="submit">Valider ma critique</button>
			{% endif %}
		</div>
	</form>
</section>
	{% else %}
		<p>Vous devez être <a href="{{ path('app_login') }}">connecté</a> ou <a href="{{ path('app_register') }}">vous inscrire</a> pour noter ou écrire une critique</p>
	{% endif %}
	{% else %}
	<div class="manga__not-found"><h1>Manga non trouvé</h1></div>
	{% endif %}
</section>
{% endblock %}