{% extends 'base.html.twig' %}
{% block title %}
MangaAddict
{% endblock %}
{%block body %}
{% for manga in mangas %}
	<div class="manga">
		<img class="manga__image" src="{{ manga.imageUrl }}" alt="Couverture de {{ manga.name }}">
		<div class="manga__title">
			<h1>{{ manga.name }}</h1>
		</div>
		{% for author in manga.mangaAuthors %}
			{% if author.role == 'story' %}
			<li class="manga__author manga__author--story">Scénario: {{ author.author.name }}</li>
			{% endif %}
			{% if author.role == 'art' %}
			<li class="manga__author manga__author--art">Art: {{ author.author.name }}</li>
			{% endif %}
		{% endfor %}
	</div>
	<div class="manga__page">
		<button class="manga__button">
			<a class="manga__link" href="{{ path('app_manga_display', {id: manga.id}) }}">Voir</a>
		</button>
	</div>
{% endfor %}
{% endblock %}
