{% extends 'base.html.twig' %}
{% block title %}
MangaAddict
{% endblock %}
{%block body %}
{% for label, messages in app.flashes %}
<div class="flash-{{ label }}">
	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}
</div>
{% endfor %}
<div class="manga-page">
	<form class="manga-index-filter__form" action="{{ path('app_manga_index') }}" method="POST">
        <input type="hidden" id="manga_filter__token" name="manga_filter[_token]" value="{{ csrf_token('manga_filter') }}">
		<div class="manga-index-filter">
			<div class="manga-index-filter__type">
				<label>Type de manga</label>
				<div class="manga-index-filter__type--popover">
					<ul>
						{% for type in mangaTypes%}
							<li>
								<input type="checkbox" id="filter-form-type-{{ type.name }}" name="{{ filterForm.type.vars.full_name }}" value="{{ type.name }}" {% if filterData is not empty and filterData['type'] == type.name %}
									checked
								{% endif %}>
                                <label for="filter-form-type-{{ type.name }}">{{ type.name }}</label>							
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="manga-index-filter__genre">
				<label>Genres de manga</label>
				<div class="manga-index-filter__genre--popover">
					<ul>
						{% for genre in mangaGenres%}
							<li>
								<input type="checkbox" id="filter-form-genre-{{ genre.name }}" name="manga_filter[genre][]" value="{{ genre.name }}" {% if filterData is not empty and filterData['genre'] == genre.name %}
									checked
								{% endif %}>
                                <label for="filter-form-genre-{{ genre.name }}">{{ genre.name }}</label>							
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{# <label for="filter-form-type">Type de manga</label>
			<input type="text" id="filter-form-type" name="{{ filterForm.type.vars.full_name }}"> #}
			{# <label for="filter-form-genre">Genres</label>
			<input type="text" id="filter-form-genre" name="{{ filterForm.genre.vars.full_name }}"> #}
			<div class="manga-index-filter__author">
				<label for="filter-form-author">Auteur-Autrice</label>
				<input type="text" id="filter-form-author" name="{{ filterForm.author.vars.full_name }}">
			</div>
			<div class="manga-index-filter__button">
				<button type="submit">Filtrer</button>
			</div>
			</div>
		</form>
<div class="manga-index">
	{% for manga in mangas %}
	<div class="manga-item">
		<div class="manga-item__image">
			<img class="manga-item__thumbnail" src="{{ manga.imageUrl }}" alt="Couverture de {{ manga.name }}">
		</div>
		<div class="manga-item__title">
			<h4>{{ manga.name }}</h4>
		</div>
		<div class="manga-item__author">
			{% for author in manga.mangaAuthors %}
				{% if author.role == 'story' %}
				<p  class="manga-item__author--story">Scénario: {{ author.author.name }}</p>
				{% endif %}
				{% if author.role == 'art' %}
				<p class="manga-item__author--art">Art: {{ author.author.name }}</p>
				{% endif %}
			{% endfor %}
		</div>
	<button class="manga-item__button">
			<a class="manga-item__link" href="{{ path('app_manga_display', {id: manga.id}) }}">Voir</a>
		</button>
	</div>
{% endfor %}
</div>
{# Render pagination links #}
<div class="pagination">
    {{ knp_pagination_render(mangas) }}
</div>
</div>
{% endblock %}
