{% extends 'base.html.twig' %}
{% block title %}
MangaAddict
{% endblock %}
{%block body %}
<div class="manga-page">
<div class="manga-index">
	{# <div class="manga-index__filter">
		<form class="manga-index__filter-form" action="{{ path('app_manga_index') }}" method="POST">

		</form>
	</div> #}
	{% for manga in mangas %}
	<div class="manga-item">
		<div class="manga-item__image">
			<img class="manga-item__thumbnail" src="{{ manga.imageUrl }}" alt="Couverture de {{ manga.name }}">
		</div>
		<div class="manga-item__title">
			<h4>{{ manga.name }}</h4>
		</div>
		<div class="manga-item__author">
			{% for author in manga.mangaAuthors %}
				{% if author.role == 'story' %}
				<p  class="manga-item__author--story">Scénario: {{ author.author.name }}</p>
				{% endif %}
				{% if author.role == 'art' %}
				<p class="manga-item__author--art">Art: {{ author.author.name }}</p>
				{% endif %}
			{% endfor %}
		</div>
	<button class="manga-item__button">
			<a class="manga-item__link" href="{{ path('app_manga_display', {id: manga.id}) }}">Voir</a>
		</button>
	</div>
{% endfor %}
</div>
{# Render pagination links #}
<div class="pagination">
    {{ knp_pagination_render(mangas) }}
</div>
</div>
{% endblock %}
